.container {
  background-color: #ffffff;
  margin: 50px auto;
  width: 75%;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 50px;
}

.list-container {
  /* display: flex;
  flex-direction: column; */
  margin: 0 auto;
  width: 90%;
}

.pagination {
  display: flex;
  flex-direction: row;
  font-size: 10px;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.currentPage {
  font-size: 16px;
  margin: 10px;
}
